node_modules
dist
build
.wrangler
*.log
coverage
.output
.vinxi
package-lock.json
pnpm-lock.yaml
.vitepress
packages/web/values.js
packages/lrda-server-core*
.next
.swc
playwright-report
test-results
*.trace
*.tsbuildinfo
.DS_Store
public