body {
  background: #f4f8fb;
}

/* SLU Blue: #003da5, SLU Light Blue: #6cb4ee, SLU Gray: #e5e9f2 */
.swagger-ui .topbar {
  background: #003da5;
}

.swagger-ui .topbar .download-url-wrapper input {
  background: #e5e9f2;
  color: #003da5;
}

.swagger-ui .topbar .download-url-wrapper .download-url-button {
  background: #6cb4ee;
  color: #003da5;
  border-radius: 4px;
}

.swagger-ui .info {
  background: #e5e9f2;
  border-radius: 8px;
  padding: 1.5em;
  margin-bottom: 2em;
  border-left: 6px solid #003da5;
}

.swagger-ui .scheme-container {
  background: #f4f8fb;
  border-radius: 6px;
}

.swagger-ui .opblock {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 61, 165, 0.06);
}

/* .swagger-ui .opblock.opblock-get {
  border-left: 5px solid #003da5;
}
.swagger-ui .opblock.opblock-post {
  border-left: 5px solid #6cb4ee;
}
.swagger-ui .opblock.opblock-put {
  border-left: 5px solid #7c878e;
}
.swagger-ui .opblock.opblock-patch {
  border-left: 5px solid #7c878e;
}
.swagger-ui .opblock.opblock-delete {
  border-left: 5px solid #b41c18;
} */

.swagger-ui .btn {
  background: #003da5;
  color: #fff;
  border-radius: 4px;
  transition: background 0.2s;
}
.swagger-ui .btn:hover {
  background: #00296b;
}

.swagger-ui .responses-inner {
  background: #e5e9f2;
  border-radius: 6px;
}

.swagger-ui .response-col_status {
  color: #003da5;
  font-weight: bold;
}
